
.name{
	position: absolute;
	right:50px;
	top:0px;
	font-size:50px;
}



.loggain{
	width: 200px;

	top:100px;
	border-left: 10px;
	
	font-size: 30px;
	color:white;
	background-color: grey;
}
.loginform{
	
	top:10%;
	
}

body{
	background-color: ;
}

a.createthread:visited{
	color:white;
}

.createthread{
	  position: absolute;
	right:20px;
	background-color: #09f;
	text-decoration: none;
	top:10px;
	font-size: 20px;    
    display: inline-block;
    line-height: 40px;
    height: 45px;
    padding: 0 16px;
    border-radius: 2px;
    font-weight: 700;
    margin-left: 10px;
}
.welcome{
	background-color: black;
	position: relative;
	color:white;
	border:10px;
	top:-20px;
	left:-20px;
	width:100%;
	padding-left: 30px;
	padding-top: 20px;
	font-size: 50px;
}

.logout{
	position: absolute;

	
	right:0px;
	top:60px;
	font-size: 10px;
}

.heading{
	font-size: 30px;
	background-color: lightgrey;
	color:black;
	height:70px;
	width:100%;
	position: relative;
	top:-40px;
	left:-10px;
	padding-right: 20px;
	text-align: center;
	
	line-height:50px;

}
.threadbox {
    width: 320px;
    padding: 10px;
    border: 1px solid gray;
    margin: 0; 
    width: 30%;
}
.by{
	font-size: 10px;
}

